/* GENERAL */

body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    width: 100%;
    background-color: #53A791;
}

h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -4px;
    color: #FFD740;
    text-align: center;
    padding-bottom: 20px; 
}
.fly2{
    font-size: 120px;
    color: #FFD740;
    margin-left: 400px;
    margin-right: -300px;
}

.fly{
    font-size: 120px;
    color: #FFD740;
    margin-right: 400px;
    margin-left: -300px;
}

/* MENUS */

.menu_section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 650px;  
    width: 550px;
}

section a{
    text-decoration: none;
    color: black;
    margin: 50px;
}

.music{
    font-size: 80px;
    color: orangered;
}

.menu1{
     border: hidden;
     box-shadow: 1px 1px 12px #aaa; 
     background-color: #FFE0E3;
     font-size: 30px;
}

.note{
    font-family: 'Cookie', fantasy;
    font-size: 40px;
}

.menu1b{
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: -20px;
}

.menu2{
     border: hidden;
     box-shadow: 1px 1px 12px #aaa; 
     background-color: #FFEEF9;
}

.chic{
    font-family: 'Amita', cursive;
    font-size: 35px;
    color: #D17441; 
}

.menu2b{
    font-family: serif;
    font-weight: 700;
    font-size: 50px;
    color: #D17441;  
    margin-top: -15px;     
}

.menu3{
     border: hidden;
     box-shadow: 1px 1px 12px #aaa; 
     background-color: #F7F7F7;   
}

.delice{
     font-family: 'Dancing Script', cursive;
     font-size: 40px;
     color: #1E7AF8
}

.menu3b{
    font-family: 'Handlee', cursive;
    font-size: 50px;
    color: #1E7AF8;
}

.menu4{
     border: hidden;
     box-shadow: 1px 1px 12px #aaa; 
}

.palette{
    font-family: 'Kaushan Script';
    font-size: 40px;
    color: #3EA94B;
}

.menu4b{
    font-family: 'Handlee', cursive;
    font-size: 50px;
    color: #3EA94B;
}

.proch{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    border: 1px hidden;
    border-radius: 20px;
    background-color: #53A791;
    color: #FFD740;
    width: 50%;
    height: 60px;
    margin-left: 350px;
    margin-bottom: 50px;
    padding: 5px 0 5px 0
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #53A791;
}

footer a{
    margin: 80px;
    font-size: 35px;
    text-decoration: none;
    color: #FFD740;
    font-family: Arial, Helvetica, sans-serif;
}
