/* GENERAL */

body{
     margin: 0;
     padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
}

/* HEADER */


header{
    width: 100%;
    background-color: #53A791;
}

h1{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -4px;
    color: #FFD740;
    text-align: center;
    padding-bottom: 20px; 
}
.fly2{
    font-size: 100px;
    color: #FFD740;
    padding-left: 500px;
    margin-right: -600px; 
}

.fly{
    font-size: 100px;
    color: #FFD740;
    padding-right: 500px;
    margin-left: -600px;  
}

/* MENUS */

.menu{
    display: flex;
    justify-content: center;
    
}

ul{
    list-style: none;
}

.menu1{
     border: 1px solid black;
     width: 40%;
}

.menu2{
     border: 1px solid black;
     width: 40%;
}

.menu3{
     border: 1px solid black;
     width: 40%;
}

.menu4{
     border: 1px solid black;
     width: 200%;
     height: 50%;
}


/* FOOTER */

footer{
    width: 100%;
    background-color: #53A791;
}

.p_footer{
    color: #FFD740;
    font-family: Arial, Helvetica, sans-serif;
}