/* MENUS */

.menu2{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #FFEEF9;
}

h3{
    font-size: 60px;
    font-family: 'amita', cursive;
    margin-top: 100px;
    margin-bottom: 100px;
}

h4{
    font-family: 'Cormorant Garamond', cursive;
    font-weight: bold;
}

.marron{
    color: #D17441; 
}

.purple{
    color: #B175A7
}

.blue{
    color: #6447CD;
}