/* GENERAL */

body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
}

/* MENUS */

h2{
    text-align: center;
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    min-height: 1000px;  
}

.menu4{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
}
