/* GENERAL */

body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
}

/* MENTIONS LEGALES */

p{
    list-style: none;
    padding-bottom: 50px;
}

h2{
    text-decoration: underline;
    font-size: 35px;
    margin-top: -50px; 
    margin-bottom: 100px; 
}

h3{
    font-size: 28px;
    color: #FFD740;
    padding-bottom: 50px;
}
.mention{
    padding-top: 50px;
    text-align: center;
    margin: 100px 0 200px 0;
}

.condition{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -70px
}