/* MENUS */

.menu2{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #FFEEF9;
}

h3{
    font-size: 60px;
    font-family: 'amita', cursive;
    margin-top: 100px;
    margin-bottom: 100px;
    background: linear-gradient(to right, #D17441 30%,#B175A7 50%, #6447CD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: 'Cormorant Garamond', cursive;
    font-weight: bold;
}

.marron{
    color: #D17441; 
}

.marron:before, .marron:after{
    background-color: #D17441;
}

.purple{
    color: #B175A7;

}
.purple:before, .purple:after{
    background-color: #B175A7;
}

.blue{
    color: #6447CD;
}

.blue:before, .blue:after{
    background-color: #6447CD;
}

.marron2{
    text-decoration: none;
    background: linear-gradient(to top, #D17441 0%, #D17441 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.marron2:hover {
    background-size: 100% 100%;
  }

.purple2{
    text-decoration: none;
    background: linear-gradient(to top, #B175A7 0%, #B175A7 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.purple2:hover {
    background-size: 100% 100%;
  }

.blue2{
    text-decoration: none;
    background: linear-gradient(to top, #6447CD 0%, #6447CD 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.blue2:hover {
    background-size: 100% 100%;
  }  
