/* MENUS */

h3{
    font-family: 'cookie', cursive;
    font-size: 60px;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.menu1{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #FFE0E3;
}

.music{
    background: linear-gradient(to right, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    padding-top: 50px;
}

.music2{
    background: linear-gradient(to right, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
   padding-right: 10px;
}

.bas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'cookie', cursive;
    font-size: 50px;
}

.do:before, .do:after{
    content:''; display:inline-block; vertical-align: middle; width: 25%; height: 5px; background: #000;
}

.do:before{
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}

.do:after{
    float: right;
    margin-top: 20px;
    margin-right: 110px;
}

.do{
    text-decoration: none;  
}
  
.do:hover + hr{
   animation: underlined 1.2s linear forwards;

}

.do + hr{
    width: 0;
    padding: 0;
    height:0;
    margin: 0;
    line-height: 1px;
    margin-left: 39%;
    margin-top: -2%;
    border: none;
    background-color: orangered;

}

@keyframes underlined{
    from {
        width: 0;
        height: 0;
    }

    to{
        width: 25%;
        height: 4px;
    }
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
    .do + hr{
        margin-left: 39%;
    }

    .do:before{
        
        margin-left: 45px;
    }
    
    .do:after{
        margin-right: 25px;
    }

    h3{
        font-size: 50px;
    }

    .music{
        font-size: 80px;
    }

    .music2{
        font-size: 40px;
    }

    .bas{
        font-size: 40px;
    }
}

@media (max-width: 650px){
    
    h3{
        font-size: 40px;
    }

    .music{
        font-size: 60px;
    }

    .music2{
        font-size: 30px;
    }

    .bas{
        font-size: 30px;
    }
}

@media (max-width: 450px){

    .do + hr{
        margin-left: 37.5%;
    }

.do:before, .do:after{
    content:none; display:inline-block; vertical-align: middle; width: 25%; height: 5px; background: #000;
}
h3{
    font-size: 35px;
}

.music{
    font-size: 50px;
}

.music2{
    font-size: 25px;
}

.bas{
    font-size: 25px;
}
}