/* MENUS */

h3{
    font-family: 'cookie', cursive;
    font-size: 60px;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.menu1{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #FFE0E3;
}

.music{
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    padding-top: 50px;
}

.music2{
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
   
}

p{
    font-family: 'cookie', cursive;
    font-size: 40px;
    padding-left: 20px;
}

.bas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.do:before, .do:after{
    content:''; display:inline-block; vertical-align: middle; width: 25%; height: 5px; background: #000;
}

.do:before{
    float: left;
    margin-top: 20px;
    margin-left: 150px;
}

.do:after{
    float: right;
    margin-top: 20px;
    margin-right: 110px;
}