/* MENUS */

.menu4{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
}

h3{
    font-size: 90px;
    font-family: 'Kaushan Script';
    background: linear-gradient(to right, #24702A 0%, rgb(74, 184, 87) 50%, #70FF2C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.verde:before{
    background: linear-gradient(to right, #24702A, #70FF2C);
}

.verde:after{
    background: linear-gradient(to left, #24702A, #70FF2C);
}

.verde{
    text-decoration: none;
    background: linear-gradient(to top, #24702A 0%, #70FF2C 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.verde:hover {
    background-size: 100% 100%;
  }

  