/* MENUS */

.menu3{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #F7F7F7;   
}

h3{
    font-size: 90px;
    font-family: 'dancing Script', cursive;
    background: linear-gradient(to right, #061DC9 0%, #2D41FF 50%, #408DF7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.nightblue:before, .nightblue:after{
    background-color: #061DC9;
}

.seablue:before, .seablue:after{
    background-color: #2D41FF;
}

.skyblue:before, .skyblue:after{
    background-color: #408DF7;
}

.night{
    text-decoration: none;
    background: linear-gradient(to top, #061DC9 0%, #061DC9 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.night:hover {
    background-size: 100% 100%;
  }

.sea{
    text-decoration: none;
    background: linear-gradient(to top, #2D41FF 0%, #2D41FF 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.sea:hover {
    background-size: 100% 100%;
  }

.sky{
    text-decoration: none;
    background: linear-gradient(to top, #408DF7 0%, #408DF7 10%, transparent 10.01%) no-repeat right bottom / 0 100%;
    transition: background-size .5s;
  }
  
.sky:hover {
    background-size: 100% 100%;
  }