/* MENUS */

.menu4{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
}

h3{
    font-size: 90px;
    font-family: 'Kaushan Script';
    background: linear-gradient(to right, #24702A 0%, rgb(74, 184, 87) 50%, #70FF2C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.verde:before{
    background: linear-gradient(to right, #24702A, #70FF2C);
}

.verde:after{
    background: linear-gradient(to left, #24702A, #70FF2C);
}

.verde:hover + hr{
    animation: underlined 1.2s linear forwards;
}
  
.verde + hr{
    width: 0;
    left: 37.5%;
    margin-top: -2%;
    border: none;
    background-color: rgb(44, 168, 55);
    position:absolute;
}
  
@keyframes underlined{
    from {
        width: 0;
        height: 0px;
    }
  
    to{
        width: 25%;
        height: 4px;
    }
  }
  
  /* MEDIA QUERIES */

@media (max-width: 1200px){
    h3{
        font-size: 50px;
    }
}

@media (max-width: 650px){
    h3{
        font-size: 40px;
    }
}

@media (max-width: 450px){
    h3{
        font-size: 35px;
    }
}