/* MENUS */

.menu3{
    border: hidden;
    box-shadow: 1px 1px 12px #aaa; 
    margin: 50px;
    min-width: 80%;
    background-color: #F7F7F7;   
}

h3{
    font-size: 90px;
    font-family: 'dancing Script', cursive;
    background: linear-gradient(to right, #061DC9 0%, #2D41FF 50%, #408DF7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4{
    font-family: 'handlee', cursive;
}

ul{
    font-family: 'handlee', cursive;
}

.nightblue:before, .nightblue:after{
    background-color: #061DC9;
}

.seablue:before, .seablue:after{
    background-color: #2D41FF;
}

.skyblue:before, .skyblue:after{
    background-color: #408DF7;
}

.night:hover + hr{
  animation: underlined 1.2s linear forwards;
}

.night + hr{
  width: 0;
  margin-left: 37.5%;
  border: none;
  background-color: #061DC9;
}

.sea:hover + hr{
  animation: underlined 1.2s linear forwards;
}

.sea + hr{
  width: 0;
  margin-left: 37.5%;
  border: none;
  background-color: #2D41FF;
}

.sky:hover + hr{
  animation: underlined 1.2s linear forwards;
}

.sky + hr{
  width: 0;
  margin-left: 37.5%;
  border: none;
  background-color: #408DF7;
}

@keyframes underlined{
  from {
      width: 0;
      height: 0px;
  }

  to{
      width: 25%;
      height: 4px;
  }
}
